---
import Layout from "../layouts/Layout.astro";
import "../styles/base.css";
---

<Layout title="About me">
  <div class="responsive">
    <div class="py-6"></div>
    Coming soon... Meanwhile, check out the README section on my GitHub profile,
    you will like it!
  </div>
</Layout>
