---
import Layout from "../layouts/Layout.astro";
import "../styles/base.css";
---

<Layout title="About me">
  <div class="px-6 xs:px-12 sm:px-18 md:px-32 lg:px-48 xl:px-64 2xl:px-96">
    <div class="py-6"></div>
    Coming soon... Meanwhile, check out the README section on my GitHub profile,
    you will like it!
  </div>
</Layout>
