---
import Layout from "../layouts/Layout.astro";
import "../styles/base.css";
---

<Layout title="Joey's Blog">
  <div class="px-6 xs:px-12 sm:px-18 md:px-32 lg:px-48 xl:px-64 2xl:px-96">
    <div class="py-6"></div>
    I am building it, I promise... My first blog entry will focus around developer
    productivity. Coming soon...
  </div>
</Layout>
