---
import Intro from "../components/Intro.astro";
import Showcase from "../components/Showcase.astro";
import Layout from "../layouts/Layout.astro";
import Outro from "../components/Outro.astro";
import "../styles/base.css";
---

<Layout title="Welcome to JYUHQ.">
  <div class="responsive no-scrollbar">
    <div class="py-6"></div>
    <Intro />
    <div class="py-6"></div>
    <Showcase />
    <div class="py-6"></div>
    <Outro />
    <div class="py-6"></div>
  </div>
  <div class="py-6"></div>
</Layout>
