---
import Header from "../components/Header.astro";
import Intro from "../components/Intro.astro";
import Showcase from "../components/Showcase.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/base.css";
---

<Layout title="Welcome to JYUHQ.">
  <div
    class="min-h-screen bg-gradient-to-tl from-indigo-200 via-red-200 to-yellow-100"
  >
    <Header />
    <div class="py-6"></div>
    <Intro />
    <div class="py-6"></div>
    <Showcase />
    <div class="py-6"></div>
    <Footer />
    <div class="py-6"></div>
  </div>
</Layout>
