---
const currentYear = new Date().getFullYear();
---

<div class="absolute bottom-0 w-full bg-white/20 dark:bg-black/20">
  <div class="flex justify-center items-center h-12">
    © {currentYear} - jyu.dev - made with ♥ by joey
  </div>
</div>
