---
import SocialLinks from "./SocialLinks.astro";
---

<div class="px-6 md:px-24 lg:px-48 xl:px-96 text-slate-800">
  <div class="px-1">
    <div class="py-6"></div>
    <div class="font-bold text-4xl sm:text-5xl">Hey there! 🫡</div>
    <div class="py-3"></div>
    <div class="text-md sm:text-lg">
      <div>
        Great to see you here :D - I'm <a
          class="underline decoration-pink-400 underline-offset-2 decoration-2 before:content-['Joey_Yu'] hover:before:content-['Xiaowei_Yu']"
        ></a>.
      </div>
      <div class="py-0.5"></div>
      <div>
        A Software Engineering & Statistics student at McGill University.
      </div>
      <div class="py-0.5"></div>
      <div>
        I am currently interning at Ciena, working on distributed cloud
        computing.
      </div>
      <div class="py-0.5"></div>
      <div>
        I love building cool projects :) If you share the same passion as me,
        let's connect!
      </div>
    </div>
    <div class="py-3"></div>
  </div>
  <SocialLinks />
</div>
