---
import SocialLinks from "./SocialLinks.astro";
---

<div class="px-6 md:px-24 lg:px-48 xl:px-96 text-slate-800">
  <div class="px-1">
    <div class="py-6"></div>
    <div class="font-bold text-5xl">Hey there! 👋</div>
    <div class="py-2"></div>
    <div class="text-lg">
      <div>
        I'm <a
          class="underline decoration-pink-400 underline-offset-2 decoration-2 before:content-['Joey_Yu'] hover:before:content-['Xiaowei_Yu']"
        ></a>.
      </div>
      <div>Software Engineering & Statistics student at McGill.</div>
      <div>Software Development Enginner intern at Ciena.</div>
      <div>
        This website is still a work in progess, please check back later :)
      </div>
    </div>
    <div class="py-2"></div>
  </div>
  <SocialLinks />
</div>
