---
import SocialLinks from "./SocialLinks.astro";
---

<div class="text-slate-800">
  <div class="px-1">
    <div class="font-bold text-4xl sm:text-5xl">Hey there! 🫡</div>
    <div class="py-3"></div>
    <div class="text-md sm:text-lg">
      <div>
        Great to see you here :D - I'm <a
          class="underline decoration-pink-500 underline-offset-4 decoration-2 before:content-['Joey_Yu'] hover:before:content-['Xiaowei_Yu']"
        ></a>.
      </div>
      <div class="py-0.5"></div>
      <div>
        A Software Engineering & Statistics student at McGill University.
      </div>
      <div class="py-0.5"></div>
      <div>
        I love building cool projects :) If you share the same passion as me,
        let's connect!
      </div>
      <div class="py-0.5"></div>
      <div>
        Oh yeah! I am also actively looking for internship opportunities. If you
        know any cool companies that are hiring, please let me know!
      </div>
      <div class="py-0.5"></div>
      <div>
        Wanna chat?
        <a
          target="_blank"
          href="https://calendly.com/itsjoeoui/chat"
          rel="noopener noreferrer"
        >
          <button><p class="link-btn">Click me!</p></button>
        </a>
        You can also reach me through any of the links below :)
      </div>
    </div>
    <div class="py-3"></div>
  </div>
  <SocialLinks />
</div>
