---
import SocialLinks from "./SocialLinks.astro";
---

<div class="px-6 md:px-24 lg:px-48 xl:px-96">
  <div class="py-6"></div>
  <div class="font-bold text-3xl">Hey there! 👋</div>
  <div class="py-2"></div>
  <div>I'm Joey, a CS & Stats student at McGill University.</div>
  <div>This website is still a work in progess, please check back later :)</div>
  <div class="py-2"></div>
  <SocialLinks />
</div>
