---
import SocialLinks from "./SocialLinks.astro";
---

<div class="">
  <div class="px-1">
    <div class="font-bold text-4xl sm:text-5xl">Hey there! 🫡</div>
    <div class="py-3"></div>
    <div class="font-momo dark:text-slate-100 text-slate-900">
      <div class="">
        Great to see you here :D - I'm <a
          class="underline decoration-pink-500 underline-offset-4 decoration-2 before:content-['Joey_Yu'] hover:before:content-['Xiaowei_Yu']"
        ></a>.
      </div>
      <div class="py-0.5"></div>
      <div class="">
        A Software Engineering & Statistics student at McGill University.
      </div>
      <div class="py-0.5"></div>
      <div class="">
        I love building cool projects :) If you share the same passion as me,
        let's connect!
      </div>
    </div>
    <div class="py-3"></div>
  </div>
  <SocialLinks />
</div>
