<div class="">
  <div class="px-1">
    <div class="text-md sm:text-lg">
      <div>
        Oh yeah! I am also actively looking for internship opportunities. If you
        know any cool companies that are hiring, please let me know!
      </div>
      <div class="py-0.5"></div>
      <div>
        Wanna chat?
        <a
          target="_blank"
          href="https://calendly.com/itsjoeoui/chat"
          rel="noopener noreferrer"
        >
          <button><p class="link-btn">Click me!</p></button>
        </a>
        You can also reach me through any of the links on the top :) Thanks for making
        it to the bottom and I wish you a wonderful day!
      </div>
    </div>
  </div>
</div>
