---
import ProjectCard from "./ProjectCard.astro";
import awsonbudget from "../assets/awsonbudget.jpeg";
import radishbattlepass from "../assets/radishbattlepass.png";
import astrostarformation from "../assets/astrostarformation.png";
---

<div class="text-slate-800">
  <div
    class="-ml-3 pl-6 md:pl-24 lg:pl-48 xl:pl-64 2xl:pl-96 flex overflow-x-scroll gap-6 no-scrollbar"
  >
    <ProjectCard
      title={"AWS on Budget"}
      desc="A K8S-like cloud management system written in Python using FastAPI, with an acommpany CLI written in Golang and a dashboard implemented in SolidJS with TypeScript."
      img={awsonbudget}
      href="https://github.com/awsonbudget"
    />
    <ProjectCard
      title={"Radish Battle Pass"}
      desc="2nd place winner of the Radish challenge at McHacks 10. Collaborated with team members and designed a tier-based reward system for Radish (a local food delivery startup) to improve customer engagement as well as user retention."
      img={radishbattlepass}
      href="https://devpost.com/software/radish-battle-pass"
    />
    <ProjectCard
      title={"Astro: Star Formation"}
      desc="1st place winner of the Astro challenge at McGill Physics Hackathon 2021. This is a physics simulation of star formation from small particles in space. Written in Python with pygame"
      img={astrostarformation}
      href="https://devpost.com/software/star-formation"
    />
  </div>
</div>
