---
import linkedin from "../assets/linkedin.svg";
import github from "../assets/github.svg";
import email from "../assets/email.svg";
---

<div class="flex flex-row gap-1">
  <a
    href="https://www.linkedin.com/in/itsjoeoui/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img src={linkedin} />
  </a>
  <a
    href="https://www.github.com/itsjoeoui/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img src={github} />
  </a>
  <a href="mailto:joey@itsjoeoui.com" target="_blank" rel="noopener noreferrer">
    <img src={email} />
  </a>
</div>
